<!DOCTYPE html>
<html>
<head>
    <title>My Cart</title>
</head>
<body>
    <h1> My Cart</h1>

    <ul>
        {% for food_item, quantity in cart.items %}
            <li>
                {{ food_item }} (Quantity: {{ quantity }})
                <a href="{% url 'remove_from_cart' food_item %}">Remove</a>
                {% for item_name, price in item_prices %}
                    {% if food_item == item_name %}
                        ${{ price }} each
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <p>Total Price: ${{ total_price }}</p>

    <a href="{% url 'category_selection' %}">Back to Category Selection</a>
</body>
</html>